/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/nf-cbioportal-export Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

manifest {
	name = 'Sage-Bionetworks-Workflows/nf-cbioportal-export'
	author = 'rxu17'
	homePage = 'https://github.com/Sage-Bionetworks-Workflows/nf-cbioportal-export'
	description = 'Nextflow workflow to process and export files to be cBioportal ingestion ready'
	mainScript = 'main.nf'
	nextflowVersion = '!>=24.10.5'
	version = '0.1'
}
profiles {
    docker {
        docker.enabled = true
	}
}
